//-/////////////////////////////////////////////////////////////////////////////
//-                     Mason SRCT: Schedules Docs Page
//- - This is the page that contains the docs site for the schedules app.
//- - This file extends the non-app template and simply adds in content.
//-/////////////////////////////////////////////////////////////////////////////
extends non-app

//-TODO: add actual content here.
block docs-content
  center
    h1 Test
