title= title

head
  meta(charset='UTF-8')
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  
  script(src="/javascripts/jquery-2.2.4.min.js")
  script(src='/javascripts/bootstrap.js')
  script(src="https://use.fontawesome.com/1c4cae8f2d.js")
  link(href='/stylesheets/main.css', rel='stylesheet')
