// This file extends the layout.jade file
extends layout

block content
  div.containter-fluid
    div.row
      // Main site column
      div.col-md-8
        // Site title include
        include main-title.jade
        // Content div
        div.row
          // Left padding
          div.col-md-1
          // Content div
          div.col-md-10
            // Tabbed navigation
            div
              ul.nav.nav-tabs.nav-justified(role='tablist')
                li.active(role='presentation')
                  a(href='#search' aria-controls='search' role='tab' data-toggle='tab') Search for Classes
                li(role='presentation')
                  a(href='#import' aria-controls='import' role='tab' data-toggle='tab') Batch Import
              // Content within the tabs here
              div.tab-content
                div#search.tab-pane.active(role='tabpanel')
                  
                div#import.tab-pane(role='tabpanel')
                  p Import content
          // Right padding
          div.col-md-1
      // Registration cart div
      div.col-md-4(style='background-color: red;')
        center
          h1 Registered Classes
