// This file extends the layout.jade file
extends layout

block content
  div.containter-fluid
    div.row
      // Main site column
      div.col-md-8
        // Site title include
        include main-title.jade
        // Content div
        div.row
          // Left padding
          div.col-md-1
          // Content div
          div.col-md-10
            div.row
              div.col-md-2
              div.col-md-8
                br
                div.input-group
                  span.input-group-btn
                    button.btn.btn-info(type="button") Import CRN's
                  input.form-control(type="text" placeholder="Enter class CRN's separated by commas...")
                br
                div.input-group
                  span.input-group-btn
                    button.btn.btn-info(type="button")
                      i.fa.fa-search
                  input.form-control(type="text" placeholder="Search for classes...")
              div.col-md-2
          // Right padding
          div.col-md-1
      // Registration cart div
      div#sidebar.col-md-4
        div.row
          div.col-md-11
            div#registeredClasses.row
              div.well
                  h2 Registered Classes
          div.col-md-1
