extends layout

block content
  div.containter-fluid
    div.row
      div.col-md-8
        center
          h1 Schedules
          em Description Here
      div.col-md-4(style='background-color: red;')
        center
          h1 Registered Classes
