//-/////////////////////////////////////////////////////////////////////////////
//-                     Mason SRCT: Schedules Main Page
//- - This page is the main application page.
//- - Extends the layout.pug file
//-/////////////////////////////////////////////////////////////////////////////
extends layout

block content
  script(src='/javascripts/mainApp.js')
  div.containter-fluid
    div.row
      // Main site column
      div.col-md-8
        // Site title include
        include main-title
        // Content div
        div.row
          // Left padding
          div.col-md-1
          // Content div
          div.col-md-10
            div.row
              div.col-md-2
              div.col-md-8
                br

                form.form-horizontal
                  fieldset

                    // Form Name
                    legend Enter Your Schedule's Details Here

                    // Select Basic
                    div.form-group
                      label.col-md-4.control-label(for='selectSchool') Select a School
                      div.col-md-6
                        select#selectSchool.form-control(name="selectSchool" class="form-control")

                    // Select Basic
                    div.form-group
                      label.col-md-4.control-label(for="selectSemester") Select a Semester
                      div.col-md-6
                        select#selectSemester.form-control(name="selectSemester")

                    // Text input
                    div.form-group
                      label.col-md-4.control-label(for="crnInput") Enter Courses
                      div.col-md-6
                        input#crnInput.form-control.input-md(name="crnInput" placeholder="Enter CRN's" type="text")
                        span.help-block Enter course numbers separated by commas to batch import your classes.


              //  br
              //  div.input-group
              //    span.input-group-btn
              //      button.btn.btn-info(type="button")
              //        i.fa.fa-search
              //    input.form-control(type="text" placeholder="Search for classes...")
              div.col-md-2
            div.row
              br
              div.col-md-12
                table#classSearch.table.table-striped.table-bordered
                  thead
                    tr
                      th Add
                      th CRN
                      th Class
                      th Title
                      th Section
                      th Campus
                      th Sessions
                  tbody
                    tr
                      td
                        button.btn.btn-primary(type="button") Add
                      td 12345
                      td
                      td
                      td
                      td
                      td
          // Right padding
          div.col-md-1
      // Registration cart div
      div#sidebar.col-md-4
        div.row
          div.col-md-11
            div#registeredClasses.row
              div.well
                  h2 Registered Classes
          div.col-md-1
