//-/////////////////////////////////////////////////////////////////////////////
//-                     Mason SRCT: Schedules Master Layout
//- - This is the master layout for the entire site, with any placeholders needed
//-   for furthur customization.
//-/////////////////////////////////////////////////////////////////////////////
doctype html
html
  include head
  body(style='padding-top: 50px;')
    div.container-fluid
      include nav
      block content
