//-/////////////////////////////////////////////////////////////////////////////
//-                 Mason SRCT: Schedules Main Title Mixin
//- - This is an include file that can be brought into any other pug file.
//-/////////////////////////////////////////////////////////////////////////////

// Site branding row
div.row.center-text
  // Font Awesome stack of circle and calendar for logo
  span.fa-stack.fa-lg.fa-5x
    i.fa.fa-circle-thin.fa-stack-2x(aria-hidden='true')
    i.fa.fa-calendar.fa-stack-1x(aria-hidden='true')
  // Title for the site
  h1 #{config.siteName}
  small #{config.siteDescription}
