//-/////////////////////////////////////////////////////////////////////////////
//-                     Mason SRCT: Schedules Navbar
//- - This include file is for the nav bar
//-/////////////////////////////////////////////////////////////////////////////
nav.navbar.navbar-default.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/').navbar-left
        | SRCT Schedules
    div.navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='docs') API
        li
          a(href='#') FAQ
        li
          a(href='#') About
