nav.navbar.navbar-default.navbar-fixed
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='/').navbar-left
        | SRCT Schedules
    div#schedules-navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li 
          a(href='docs') API
        li
          a(href='#') FAQ
        li
          a(href='#') About
          
