//-/////////////////////////////////////////////////////////////////////////////
//-                 Mason SRCT: Schedules Non-app Layout
//- - Any non-app page will extend this layout file.
//-/////////////////////////////////////////////////////////////////////////////
extends layout

block content
  div.conainter
    div.row
      div.col-lg-2
      div.col-lg-8
        include main-title
        block docs-content
      div.col-lg-2
